@model long
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<div class="container" style="padding-top: 20px;">
    <h2 data-bind="html: appName"></h2>
    <h4>Reviews</h4>
    <ul class="nav nav-tabs" id="myTab" data-toggle="tab">
        <li class="active"><a href="#home">*****</a></li>
        <li><a href="#profile">****</a></li>
        <li><a href="#messages">***</a></li>
        <li><a href="#settings">**</a></li>
        <li><a href="#settings">*</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <table class="table table">
                <tbody data-bind="foreach: fiveStarReviews">
                    <tr>
                        <td>
                            <div>
                                <span data-bind="html: reviewBody"></span>

                            </div>
                            <div>
                                <button class="btn"><i class="icon-reply"></i>&#180;Answer This Review</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="profile">****</div>
        <div class="tab-pane" id="messages">...</div>
        <div class="tab-pane" id="settings">...</div>
    </div>

</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/knockout-2.2.1.js"></script>

<script type="text/javascript">
    //https://itunes.apple.com/lookup?id=284910350

    $().ready(function () {
        model.load();
    });

    var model = new appViewModel();

    function appViewModel() {
        var self = this;

        self.appName = ko.observable();
        self.fiveStarReviews = ko.observableArray();
        self.fourStarReviews = ko.observableArray();
        self.load = function () {

            $.ajax({
                url: "https://itunes.apple.com/lookup?id=" + "@Model",
                dataType: "jsonp"
            }).done(function (data) {

                var result = data.results[0];
                console.log("Found " + result.trackName);

                self.appName(result.trackName);


                $.ajax({
                    url: "http://itunes.apple.com/GB/rss/customerreviews/id=" + "@Model" + "/json",
                    dataType: "jsonp"
                }).done(function (data) {

                    var result = data.feed.entry[0];
                    console.log("Found Reviews: " + data.feed.entry.length);
                    console.log("Found Reviews: " + data.feed.entry[1].title.label);

                    for (var i = 1; i < data.feed.entry.length; i++) {
                        var review = new reviewModel();
                        review.reviewBody(data.feed.entry[i].content.label);

                        self.fiveStarReviews.push(review);
                    }

                }).error(function () {
                    alert("Error");
                });


            }).error(function () {
                alert("Error");
            });
        };
    };

    function reviewModel() {
        var self = this;

        self.reviewBody = ko.observable();
    };


    ko.applyBindings(model);

</script>
