@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome-ie7.css" rel="stylesheet" />
<div class="container" style="padding-top: 20px;">
    <div class="hero-unit">
        <h1>Answer a Review</h1>
        <h2>Giving developers a voice</h2>
    </div>
    <div>
        <form class="form-search">
            <div class="input-prepend">
                <span class="add-on">@@</span>
                <input class="input-xxlarge" id="searchBox" type="text" placeholder="Enter the name of an iOS app" />
            </div>
            <button type="button" class="btn" data-bind="click: search">Search For App</button>
        </form>
    </div>
    <div class="alert alert-info" data-bind="visible: isSearching">
      <i class="icon-spinner icon-spin"></i> Searching iTunes...
    </div>
    <table class="table">
        <tbody data-bind="foreach: results">
            <tr>
                <td>
                    <div>
                        <a href="#" data-bind="attr: { href: appLink }">
                            <img data-bind="attr: { src: largeImage }" />
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/knockout-2.2.1.js"></script>

<script type="text/javascript">

    var model = new mainViewModel();

    function mainViewModel() {
        var self = this;

        self.results = ko.observableArray();
        self.isSearching = ko.observable(false);
        self.search = function () {

            self.results.removeAll();
            self.isSearching(true);

            $.ajax({
                url: "https://itunes.apple.com/search?media=software&term=" + encodeURI($("#searchBox").val()),
                dataType: "jsonp"
            }).done(function (data) {

                console.log("Found " + data.results.length);
                
                for (var i = 0; i < data.resultCount; i++) {
                    var model = new resultModel();
                    model.appId(data.results[i].trackId);
                    model.largeImage(data.results[i].artworkUrl60);
                    self.results.push(model);
                }

                self.isSearching(false);

            }).error(function () {
                alert("Error");
                self.isSearching(false);
            });
        };
    };

    function resultModel() {
        var self = this;

        self.largeImage = ko.observable();
        self.appId = ko.observable();
        self.appLink = ko.computed(function () {
            return "@Url.Action("Index", "App")" + "?appId=" + self.appId();
        }, this);
    }

    ko.applyBindings(model);

</script>
