@{
    ViewBag.Title = "Register your interest";
}
<!DOCTYPE html>
<html>
<head>
    <title>Register your interest</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="padding-top: 20px;">
        <div class="hero-unit">
            <h1>Answer a Review</h1>
        </div>
        <h2>Ignore the man behind the curtain...</h2>
        <p>
            Thanks for clicking through to claim an app. At this time, I've built the basic
            functionality to demonstrate the idea of replying to 
            reviews in the AppStore.
        </p>
        <h4>Why?</h4>
        <p>
            Negative reviews in the App Store can be difficult things for a developer to deal
            with. Firstly, the reviews may not reflect the app directly, but might be an opinion
            on the company or individual providing the app. 
            Secondly, it's not possible to address a review with an answer or explanation.
        </p>
        <h4>Interested?</h4>
        <p>
            If you're interested in trying this web application out, please register your interest
            here so I can include you in the on-going development of the site.
        </p>
        <form action="http://imaybelate.us4.list-manage1.com/subscribe/post?u=e91fcedfc965b23b7c2005161&amp;id=3e2ed9a7d7"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
            class="validate" target="_blank" novalidate>
            <div class="input-prepend input-append">
                <span class="add-on">Email Address</span>
                <input class="input-xxlarge" id="email" name="EMAIL" type="text" placeholder="Your address won't be shared with anyone." />
                <button class="btn btn-success" type="submit">Register your interest</button>
            </div>
        </form>

    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-41081297-1', 'azurewebsites.net');
        ga('send', 'pageview');
    </script>
</body>
</html>
